<!-- bottom.tmpl -->
<br/>
<hr class="line" />
<div class="max-70 centered">
    Copyright &#169;
    <a href="https://www.classe.cornell.edu/Research/CHESS/WebHome.html">
        Cornell High Energy Synchrotron Source (CHESS)
    </a>
    Supported by: <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" width="30">
</div>
<br/>
<!-- end of bottom.tmpl -->
</body>
</html>
