<!-- bottom.tmpl -->
<br/>
<hr class="line" />
<div class="max-50 centered">
    Copyright &#169; Cornell Laboratory for Accelerator-based Sciences and Education
    <br/>
    Supported by: <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" width="30">
</div>
<!-- end of bottom.tmpl -->
</body>
</html>
