<!-- home.tmpl -->

<br/>
<div class="max-40 centered">
    <form class="form-container" method="post" action="{{.Base}}/auth">
    <fieldset>
        <legend>CLASSE credentials</legend>
        <div class="form-item">
            <label>Name</label>
            <input class="input" type="text" name="name">
        </div>
        <div class="form-item">
            <label>Password</label>
            <input class="input" type="password" name="password">
        </div>
        <div class="form-item is-buttons is-inline-offset">
			<button class="button button-primary">Login</button>
        </div>
    </fieldset>
</form>
</div>

<!-- end of home.tmpl -->
